@model HoardSorter.Models.Contacts

@{
    ViewBag.Title = "Address Book";
}

<h2>Add to Contacts</h2>


<html>

<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
    
            <div class="form-group">
                @Html.LabelFor(model => model.yourID, "Contact Email", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("yourID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.yourID, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to Address Book", "Index")
    </div>
</body>
</html>
