@model IEnumerable<HoardSorter.Models.Contacts>

@{
    ViewBag.Title = "Address Book";
}

<h2>Address Book</h2>

<p>
    @Html.ActionLink("MyTrades", "MyTrades", "CardCollections") |
    @Html.ActionLink("MyWants", "MyWants", "CardCollections") |
    @Html.ActionLink("Address Book", "Index") <br /> <br />
    @Html.ActionLink("Create New", "Create")
</p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers1.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers1.PhoneNumber)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers1.Email) |
                    @Html.ActionLink("View Friends Trades", "FriendView", "CardCollections", new { id = item.AspNetUsers1.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUsers1.PhoneNumber)
                </td>
                <td>
                    @Html.ActionLink("Delete Contact", "Delete", new { id = item.ContactID })
                </td>
            </tr>
        }

    </table>
</body>
</html>
