@model HoardSorter.Models.CardCollection

@{
    ViewBag.Title = "DeleteWant";
}

<h2>Delete Want</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CardCollectionID)

        <div class="form-group">
            @Html.LabelFor(model => model.CardID, "CardID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <h4>
                    @Html.DisplayFor(model => model.CardDetails.CardName)
                </h4>
                @Html.HiddenFor(model => model.CardID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Wanted)
                @Html.ValidationMessageFor(model => model.Wanted, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.WantQty)
                @Html.ValidationMessageFor(model => model.WantQty, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete Want" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to MyWants", "MyWants")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
