@model HoardSorter.Models.CardCollection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CardCollection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToTrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToTrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wanted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wanted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnedQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnedQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradeQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradeQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WantQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WantQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardDetails.CardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardDetails.CardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Collections.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Collections.UserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CardCollectionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
