@model IEnumerable<HoardSorter.Models.CardCollection>

@{
    ViewBag.Title = "Index";
}

<h2>Personal Hoard</h2>

<p>
    @Html.ActionLink("Create New", "Create") |

    @Html.ActionLink("Name Asc", "Index", new { sortOrder = "" }) |
    @Html.ActionLink("Name Desc", "Index", new { sortOrder = "name_desc" }) |
    @Html.ActionLink("Cost Asc", "Index", new { sortOrder = "cost_asc" }) |
    @Html.ActionLink("Cost Desc", "Index", new { sortOrder = "cost_desc" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CardDetails.CardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnedQty)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (item.OwnedQty > 0)
        {
         <td>
            @Html.DisplayFor(modelItem => item.CardDetails.CardName)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.OwnedQty)
         </td>
         <td>
             @Html.ActionLink("Card Details", "Details", new { id = item.CardCollectionID }) |
             @Html.ActionLink("Edit", "Edit", new { id = item.CardCollectionID }) |
             @Html.ActionLink("Delete", "Delete", new { id = item.CardCollectionID })
         </td>
        }
    </tr>
}

</table>
