@model IEnumerable<HoardSorter.Models.CardCollection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CardDetails.CardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnedQty)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @if (item.OwnedQty > 0)
        {
         <td>
            @Html.DisplayFor(modelItem => item.CardDetails.CardName)
         </td>
         <td>
            @Html.DisplayFor(modelItem => item.OwnedQty)
         </td>
         <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CardCollectionID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CardCollectionID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CardCollectionID })
         </td>
        }
    </tr>
}

</table>
