@model IEnumerable<HoardSorter.Models.CardCollection>

@{
    ViewBag.Title = "Results";
}

<h2>Search Results</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Collections.AspNetUsers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardDetails.CardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradeQty)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        @if (item.TradeQty > 0)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Collections.AspNetUsers.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardDetails.CardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeQty)
            </td>
        }


    </tr>
    }

</table>
