@model HoardSorter.Models.Deck

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this deck?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeckName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeckName)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.AspNetUsers.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeckType.DeckType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeckType.DeckType1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
