@model IEnumerable<HoardSorter.Models.Deck>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeckName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeckType.DeckType1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeckName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeckType.DeckType1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeckID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeckID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeckID })
        </td>
    </tr>
}

</table>
