@model IEnumerable<HoardSorter.Models.Deck>

@{
    ViewBag.Title = "Index";
}

<h2>Your Decks</h2>

<p>
    @Html.ActionLink("Create New Deck", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeckName)
        </th>
        
        
        <th>
            @Html.DisplayNameFor(model => model.DeckType.DeckType1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeckName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.DeckType.DeckType1)
        </td>
        <td>
            @Html.ActionLink("Rename Deck", "Edit", new { id = item.DeckID }) |
            @Html.ActionLink("Add A Card", "DeckContents", new { DeckID = item.DeckID,}) |
            @Html.ActionLink("View Deck", "Index", "DeckCards", new { DeckIdent = item.DeckID }, null) |
            @Html.ActionLink("Delete Deck", "Delete", new { id = item.DeckID })
        </td>
    </tr>
}

</table>
