@model HoardSorter.Models.DeckCards

@{
    ViewBag.Title = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>DeckCards</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CardQty)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CardQty)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CardDetails.CardName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CardDetails.CardName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Deck.UserID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Deck.UserID)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index", new { DeckIdent = Model.Deck.DeckID })
            </div>
        }
    </div>
</body>
</html>
